@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 2 6 23;
    --foreground: 226 232 240;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
  }

  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }
}
